.logo-image {
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-top: -6px;
}
.subtitle-h1{
    font-weight: bold;
    text-align: center;
    padding: 3vh;
    margin: 0;
}
.g-0{
    padding: 0;
}
/*Card Elements*/
.card{
    padding: 0;
    border: solid black;
    border-radius: 3px;
}
.card-title{
    font-weight: bold;
}
.card-text{
    font-weight: bold;
}
/*Footer Section*/
.footertext {
    color: #c0cdc0;
  }
  .listtext {
    text-decoration: none;
    color: #c0cdc0;
  }