body{
    overflow-x: hidden; 
}
.logo-image {
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-top: -6px;
}
.navbar-nav{
    padding: 0.5rem 1rem; 
}

.nav-link {
    padding: 0.5rem 1rem; 
    font-weight: bold;
    font-size: 2.2vh;
    margin-right: 1.0rem;
    margin-left: 1.0rem;
}
.navbar {
    padding: 0.8rem; 
    background-color: black;
}
.row{
    
    border-radius: 3vh;
    padding: 20px;
}
.bestsell{
    text-align: center;
    font-weight: bolder;
}
.btn{
    margin-top: 0vh;
}
.dropdown-menu{
    padding-bottom: 0vh;
    padding-top: 0vh;
}
footer{
    background-color: #749074;
    color: #c0cdc0;
    text-decoration: none;
    font-weight: bold;
}
