body {
  margin: 0;
}
.navbar{
  margin: auto;
}
.dropdown-item{
  font-weight: bold;
}
.footertext{
  color: #c0cdc0;
}
.listtext{
  text-decoration: none;
  color: #c0cdc0;
}
#keyboard-container {

  position: relative;
  width: 1000px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}
.keyboard{
  height: 300px;
  width:40vw;
}

.key {
  position: absolute;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
#key1{
  background-image: url(/images/Designer.png);
  background-size: cover;
}