.navbar {
  margin: auto;
}
.dropdown-item {
  font-weight: bold;
}
.g-0 {
  padding: 0;
}
/*Card elements*/
.card {
  border: solid 3px black;
  border-radius: 1vh;
  padding: 0; 
  margin-top: 1%;
}
.card-title {
  font-weight: bold;
}
.card-text {
  font-weight: bold;
}
.imgContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.containercl{
  padding: 0;
}
/*The heading of the page*/
.bestsell {
  margin-top: 0.5vh;
}
/*The Main Quotec container style*/
.rounded {
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
  width: 80%; 
  height: 60vh;
  background-color:#749074;
  color: #bcd4bc;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.rounded.border {
  overflow: hidden; 
}
.Ecotext {
  text-align: right;
  font-size: 3vh; 
  padding-right: 30vh;
  font-style: italic;
  font-weight: bold;
}
.arrowButton {
  position: absolute;
  top: 50%; /*Positioned at 50% from the top of the containing element*/
  font-size: 20px;
  cursor: pointer; /*Display a pointer cursor on hover*/
  border: none;
  background: none;
  outline: none;
  transform: translate(0, -50%); /*Move the element up by 50% of its own height*/
}
.arrowbg {
  background-color: whitesmoke;
}
/*The arrows style*/
.leftArrow {
  left: 8px;
  font-weight: bold;
  color: gray;
  height: 5vh;
}
.rightArrow {
  right: 8px;
  font-weight: bold;
  color: gray;
}
.custom-text {
  font-size: 6vh; 
}
.custom-text {
  font-size: 4.5vh; 
  padding-top: 20vh;
  font-style: italic;
  font-weight: bold;
  padding-top: 20vh; 
}
.animation{
  background-image: url(../images/Keycaps-cropped.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 8vh;
  width: 100%;
  height: 20vh;
  border-top: 3px solid  #555555;
  border-bottom: 3px solid  #555555;
}
/*Footer elements*/
.footertext {
  color: #c0cdc0;
}
.listtext {
  text-decoration: none;
  color: #c0cdc0;
}