.navbar{
    margin: auto;
}
.dropdown-item{
    font-weight: bold;
}
.card{
    border: solid 3px black;
    border-radius: 1vh;
    padding: 0; 
    margin-top: 1%;
}
.animation{
    margin-top: 8vh; width: 100%; height: 25vh; border: 3px solid black;
}
.footertext{
    color: #c0cdc0;
}
.listtext{
    text-decoration: none;
    color: #c0cdc0;
}