.navbar{
    margin: auto;
}
.dropdown-item{
    font-weight: bold;
}
.card{
    border: solid 3px black;
    border-radius: 1vh;
    padding: 0; 
    margin-top: 1%;
}
.animation{
    margin-top: 8vh; width: 100%; height: 25vh; border: 3px solid black;
}

.rounded{
    text-align: center; margin-left: auto; margin-right: auto; width: 80%; height: 60vh; background-color:#749074; color: #bcd4bc; margin-top: 10vh; margin-bottom: 10vh;
}
.Ecotext{
    text-align: right;
     font-size: 3vh; 
     padding-right: 30vh;
}
.footertext{
    color: #c0cdc0;
}
.listtext{
    text-decoration: none;
    color: #c0cdc0;
}
.imgContainer {
    position: relative; 
    text-align: center;
}

.arrowButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

.leftArrow {
    left: 8px;
    font-weight: bold;
    color: gray;
    height: 5vh;
}

.arrowbg{
    background-color: whitesmoke;
}
.rightArrow {
    right: 8px;
    font-weight: bold;
    color: gray;
}
