body{
    background-color: #777777;
    font-weight: bold;
    font-size: 20px;
}
.navbar-expand-lg{
    background-color: #333333;  
    margin: auto;
}
.dropdown-item{
    background-color: gainsboro; 
    font-weight: bold;
}
.g-0{
    padding: 0;
}
.footertext{
    color: #AAAAAA;
    text-decoration: none;
}
footer{
    background-color: #333333;
}
h2{
    font-weight: bold;
    font-size: 40px;
}
h3{
    font-weight: bold;
    font-size: 30px;
}
p{
    font-weight: bold;
    font-size: 20px;
}
.footer-desc {
    font-weight: bold;
    font-size: 20px;
}
hr {
    border: 2px solid #333333; 
    color: #333333;
    width: 100%;
    opacity: 1;
}
footer{
    background-color: #333333;
    color: #AAAAAA;
    text-decoration: none;
    font-weight: bold;
}
.listtext{
    color: #AAAAAA;
    text-decoration: none;
}