.dropdown-item {
  background-color: gainsboro; 
  font-weight: bold;
}
body {
  font-weight: bold;
  font-size: 20px;
}   
hr {
  border: 2px solid #749074; 
  color: #749074;
  width: 100%;
  opacity: 1;  /*Set the opacity to 1 (fully opaque)*/
}
/*Text element*/
h2 {
  font-weight: bold;
  font-size: 40px;
}
h3 {
  font-weight: bold;
  font-size: 30px;
}
p{
  font-weight: bold;
  font-size: 20px;
}
/*Footer elements*/
.footertext {
  color: #c0cdc0;
  font-size: 16px;
}
.listtext {
  text-decoration: none;
  color: #c0cdc0;
  font-size:16px ;
}
.footer-desc {
   font-size: 16px;
}
.list-unstyled {
  padding: 0;
  margin: 0;
}