body {
    background-color: #777777;
}

.navbar-expand-lg {
    background-color: #333333;
    margin: auto;
}

.dropdown-item {
    background-color: gainsboro;
    font-weight: bold;
}

.card {
    border: solid 3px black;
    border-radius: 1vh;
    padding: 0;
    margin-top: 1%;
    background-color: gainsboro;
}

.g-0 {
    padding: 0;
}

.footertext {
    color: #c0cdc0;
}

footer {
    background-color: #333333;
}

.listfoot {
    text-decoration: none;
    color: #c0cdc0;
}

.visible {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
button{
    border: none;
}
#popup {
    padding: 0;
    border: 0.4vh solid black;
}


.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.hidden {
    display: none;
}

.visible {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
 #popup-1,
 #popup-2,
 #popup-3,
 #popup-4,
 #popup-5,
 #popup-6,
 #popup-7,
 #popup-8,
 #popup-9
 {
    padding: 0;
    border: 0.4vh solid black;
}


.g-0{
    padding: 0;
}
.imgContainer {
    position: relative;
    text-align: center;
}

.arrowButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

.leftArrow {
    left: 8px;
    font-weight: bold;
    color: whitesmoke;
}

.rightArrow {
    right: 8px;
    font-weight: bold;
    color: whitesmoke;
}


.card {
    max-width: 550px;
}

.popupOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}