body{
    background-color: #777777;
}
.navbar-expand-lg{
    background-color: #333333;  
    margin: auto;
}
.dropdown-item{
    background-color: gainsboro; 
    font-weight: bold;
}
footer{
    background-color: #333333;
}
.logo-image {
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-top: -6px;
}
.footertext{
    color: #c0cdc0;
}
.listtext{
    color: #c0cdc0;
}
.subtitle-h1{
    font-weight: bold;
    text-align: center;
    padding: 3vh;
    margin: 0;
}
.g-0{
    padding: 0;
}
.card{
    background-color: gainsboro;
    padding: 0;
    border: solid black;
    border-radius: 3px;
}
.card-title{
    font-weight: bold;
}
.card-text{
    font-weight: bold;
}