body {
    background-color: #777777;
}
/*Navbar styling for large screens*/
.navbar-expand-lg {
    background-color: #333333;  
    margin: auto;
}
.dropdown-item {
    background-color: gainsboro; 
    font-weight: bold;
}
.logo-image {
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-top: -6px;
}
/*The main heading of the page*/
.subtitle-h1 {
    font-weight: bold;
    text-align: center;
    padding: 3vh;
    margin: 0;
}
.g-0 {
    padding: 0;
}
/*Card elements*/
.card {
    background-color: gainsboro;
    padding: 0;
    border: solid black;
    border-radius: 3px;
}
.card-title {
    font-weight: bold; 
    color: black;
}
.card-text {
    font-weight: bold;
    
}
h3{
    color: #AAAAAA;
}
h4{
    color: #AAAAAA;
}
.footer-desc{
    color: #AAAAAA;
}
.listtext{
    text-decoration: none;
    color: #AAAAAA;

}
/*Footer elements*/
.footertext{
    color: #AAAAAA;
}
footer {
    background-color: #333333;
}
.listfoot {
    text-decoration: none;
    color: #AAAAAA;
}