body {
    background-color: #777777;
}
/*Navbar styling for large screens*/
.navbar-expand-lg {
    background-color: #333333;  
    margin: auto;
}
.dropdown-item {
    background-color: gainsboro; 
    font-weight: bold;
}
/*Card elements*/
.card {
    border: solid 3px black;
    border-radius: 1vh;
    padding: 0;
    margin-top: 1%; 
    background-color: gainsboro;
}
.card-title {
    font-weight: bold;
}
.card-text {
    font-weight: bold;
}
.imgContainer {
    display: flex;
    align-items: center;
    position: relative;
}
.g-0 {
    padding: 0;
}
.animation{
    background-image: url(../images/Keycaps-cropped.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 8vh;
    width: 100%;
    height: 20vh;
    border: 3px solid black;
  }
/*The Main Quotec container style*/
.rounded {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
    height: 60vh; 
    background-color:#333333; 
    color: #AAAAAA;
    margin-top: 10vh; 
    margin-bottom: 10vh;
    padding: 0;
}
.rounded.border {
    overflow: hidden; 
}
.Ecotext {
    text-align: right;
     font-size: 3vh; 
     padding-right: 30vh;
     font-style: italic;
     font-weight: bold;
}
/*The arrows style*/
.arrowButton {
    position: absolute;
    top: 50%; /*Positioned at 50% from the top of the containing element*/
    font-size: 20px;
    cursor: pointer; /*Display a pointer cursor on hover*/
    border: none;
    background: none;
    outline: none;
    transform: translate(0, -50%); /*Move the element up by 50% of its own height*/
}
.arrowbg {
    background-color: #333333;
}
.leftArrow {
    left: 0;
}
.rightArrow {
    right: 0;
}
.leftArrow {
    left: 8px;
    font-weight: bold;
    color: #444444;
    height: 5vh;
}
.rightArrow {
    right: 8px;
    font-weight: bold;
    color:  #444444;
}
/*Small screens up to 576 pixels*/
@media (max-width: 576px) {

.custom-text {
      font-size: 4.5vh; 
    }
}
.custom-text {
    font-size: 4.5vh; 
    padding-top: 20vh;
}
.custom-text {
    padding-top: 20vh; 
    margin-bottom: 0; 
    font-style: italic;
    font-weight: bold;
}
.custom-text {
    font-size: 6vh; 
}
.containercl{
    padding: 0;
}
/*Footer elemets*/
.h3foot{
    color: #AAAAAA;
}
.h4foot{
    color: #AAAAAA;
}
.footertext {
    color: #AAAAAA;
    font-weight: bold;
}
footer {
    background-color: #333333;
}
.listtext {
    text-decoration: none;
     color: #AAAAAA;
}
.footer-desc{
    text-decoration: none;
     color: #AAAAAA;
}
