body {
    background-color: #777777;
    font-weight: bold;
    font-size: 20px;
}
/*Navbar styling for large screens*/
.navbar-expand-lg {
    background-color: #333333;  
    margin: auto;
}
.dropdown-item {
    background-color: gainsboro; 
    font-weight: bold;
}
.g-0 {
    padding: 0;
    text-decoration: none;
}
/*Text elements*/
h2 {
    font-weight: bold;
    font-size: 40px;
}
h3 {
    font-weight: bold;
    font-size: 30px;
}
p{
    font-weight: bold;
    font-size: 20px;
}
hr {
    border: 2px solid #333333; 
    color: #333333;
    width: 100%;
    opacity: 1; /*Set the opacity to 1 (fully opaque)*/
}
footer {
    background-color: #333333;
    color: #AAAAAA;
    text-decoration: none;
    font-weight: bold;
}
.listtext {
    color: #AAAAAA;
    text-decoration: none;
}
.footertext {
    color: #c0cdc0;
    font-size: 16px;
  }
.listtext {
    text-decoration: none;
    color: #c0cdc0;
    font-size: 16px;
}